<div class="investor-area">
  <div class="investor-area--image-container">
    <img class="investor-area--image" src="assets/images/PATRIA_Abstract_03.png" alt="Investor Area Background" />
  </div>
  <div class="investor-area--content-container">
    <h2 class="investor-area--title">Investor Area</h2>
    <p class="investor-area--description">
      Breve texto sobre a área do investidor convidando a fazer parte. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lobortis ullamcorper nulla, sit amet ultrices arcu venenatis eu.
    </p>
    <div>
      <button class="investor-area--button">
        Login
        <img src="assets/images/external-link.svg" alt="Arrow Down" class="arrow" />
      </button>
    </div>
  </div>
</div>
