<div class="posts">
  <div class="posts-instagram">
    <div class="posts-instagram-container">
      <img class="posts-instagram-image" src="assets/images/instagram-icon.svg" alt="Instagram Mockup" width="32" height="32" />
      <p class="posts-instagram-id">@patriainvestments</p>
    </div>
  </div>
  <div class="posts-grid">
    <div class="posts-grid-item">
      <img class="posts-grid-image" src="assets/images/post1.png" alt="posts" />
    </div>
    <div class="posts-grid-item">
      <img class="posts-grid-image" src="assets/images/post2.png" alt="posts" />
    </div>
    <div class="posts-grid-item">
      <img class="posts-grid-image" src="assets/images/post3.png" alt="posts" />
    </div>
    <div class="posts-grid-item">
      <img class="posts-grid-image" src="assets/images/post4.png" alt="posts" />
    </div>
    <div class="posts-grid-item">
      <img class="posts-grid-image" src="assets/images/post5.png" alt="posts" />
    </div>
  </div>
</div>
