<div class="block-news" style="background-image: url('assets/images/PATRIA_Abstract_08.png');">
  <h1 class="block-news--title">News & Insights</h1>
  <button class="block-news--see-all">See all</button>

  <div class="block-news--cards">
    <div class="block-news--card">
      <p class="block-news--card-title">Growth Investing: como impulsionar sua carteira com empresas de alto potencial de crescimento</p>
      <div><button class="block-news--read-more">Read more</button></div>
    </div>
    <div class="block-news--card">
      <p class="block-news--card-title">Por que chegou a hora de incluir a infraestrutura em sua estratégia de diversificação de investimentos?</p>
      <div><button class="block-news--read-more">Read more</button></div>
    </div>
    <div class="block-news--card">
      <p class="block-news--card-title">Fundos Imobiliários: como construir uma carteira diversificada e eficiente</p>
      <div><button class="block-news--read-more">Read more</button></div>
    </div>
  </div>
</div>
