.cookies {
  width: 64px;
  height: 64px;
  background-color: #000000;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
