.block-hero {
  width: 100%;
  height: 750px;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;

  &-container {
    width: 100%;
    max-width: 1196px;
    position: relative;
    margin: 0 auto;
  }

  &-title {
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
    max-width: 404px;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
  }
}

.play-button {
  width: 0;
  height: 0;
  rotate: 90deg;
  border-left: 40px solid transparent;   /* s/2 */
  border-right: 40px solid transparent;  /* s/2 */
  border-bottom: 69.28px solid black;     /* (√3/2)*s ≈ 69.282 -> 69.28 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
