.contact-form-block {
  padding-top: 90px;
  box-sizing: border-box;

  &__wrapper {
    display: flex;
    gap: 32px;
    width: 100%;
    max-width: 1196px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 64px 0;
  }

  &__info {
    width: calc(50% - 16px);
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 48px;
    line-height: 63px;
    font-weight: 300;
    margin: 0 0 32px 0;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 43px;
    font-weight: 300;
    margin: 0 0 20px 0;
  }

  &__description {
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    margin: 0;
  }

  &__form-container {
    width: calc(50% - 16px);
  }

  &__submit-button {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    min-width: 370px;
    padding: 14px 24px;
    text-align: center;
    border: none;
    cursor: pointer;
  }
}
