/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: white;
}

.modal {
  display: flex;
  background-color: #606060;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &-container {
    background-color: white;
    padding: 20px;
  }
}
