<section class="hero-slugs">
  <div class="hero-slugs-container">
    <div class="hero-slugs-info">
      <div class="hero-slugs-breadcrumb">
        <a class="hero-slugs-breadcrumb-link" routerLink="/">Patria</a>
        <a class="hero-slugs-breadcrumb-link" routerLink="/about-us">About Us</a>
      </div>
      <h1 class="hero-slugs-title">We create unique investment opportunities for our clients and build a legacy in the regions where we operate.</h1>
    </div>
    <div class="hero-slugs-image">
      <div style="background-color: #E5E5E5; width: 100%; height: 500px;"></div>
    </div>
  </div>
</section>