<header class="header">
  <div class="black-header">
    <div class="black-header-content">
      <div class="black-header__links">
        <span class="black-header-text">Investor Area (second phase)</span>
        <span class="black-header-text">
          Shareholders
          <img src="assets/images/external-link.svg" alt="Arrow Down" class="arrow" />
        </span>
      </div>
      <div class="black-header__locale">
        <img src="assets/images/lupa.svg" alt="lupa" class="black-header__lupa-icon" />
        <span class="black-header-text"
          >Brasil&nbsp;<img src="assets/images/white-arrow-down.svg" alt="Arrow Down" class="arrow"
        /></span>
        <span class="black-header-text"
          >EN&nbsp;<img src="assets/images/white-arrow-down.svg" alt="Arrow Down" class="arrow"
        /></span>
      </div>
    </div>
  </div>
  <div class="header-container">
    <div class="logo">
      <img src="assets/images/logo-patria.svg" alt="Logo" />
    </div>
    <div>
      <nav class="header-links">
        <button class="header-link" type="button">
          Patria&nbsp;<img
            src="assets/images/black-arrow-down.svg"
            alt="Arrow Down"
            class="arrow"
          />
        </button>
        <button class="header-link" type="button">Responsible Investments</button>
        <button class="header-link" type="button">
          Our Solutions&nbsp;<img
            src="assets/images/black-arrow-down.svg"
            alt="Arrow Down"
            class="arrow"
          />
        </button>
        <button class="header-link" type="button">News & Insights</button>
        <button class="header-link" type="button">Documents</button>
        <button class="header-link" type="button">Contact</button>
      </nav>
    </div>
  </div>
</header>
