.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  position: relative;
  width: 100%;

  &__label {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 8px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.25s ease;
  }

  &:focus-within .form-input__label,
  &:has(.form-input__input:not(:placeholder-shown)) .form-input__label,
  &:has(.form-input__select:valid) .form-input__label {
    top: -8px;
    font-size: 12px;
    line-height: 16px;
  }

  &__input,
  &__select {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 21px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  &__optin {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__optin-label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      border: 2px solid #000;
      box-sizing: border-box;
      transition: 0.25s ease;
    }
  }

  &__checkbox:checked + .form-input__optin-label::before {
    border: 10px solid #000;
  }
}
