@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-gray-light: rgb(238, 238, 246);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background);
    --foreground: rgb(13 13 56);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.button[data-color=dark] {
    --tw-bg-opacity: 1;
    background-color: rgb(13 13 56);
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
}
.button[data-size=default] {
    font-size: 1rem;
    height: 3rem;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.button {
    text-wrap: balance;
}
.button {
    align-items: center;
    border-color: transparent;
    border-width: 3px;
    display: flex
;
    justify-content: center;
    line-height: 1;
    text-align: center;
    transition-duration: .3s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: 
cubic-bezier(0, 0, .4, 1);
    transition-timing-function: 
cubic-bezier(0, 0, .2, 1);
}
.button[data-color=dark]:hover, .button[data-color=light], .button[data-color=light]:hover {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
}
.button[data-color=dark]:hover, .button[data-color=light] {
    background-color: rgb(69 113 255);
}
.section-block {
    position: relative;
    width: 100%;
    z-index: 10;
}
.container-small {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}
.cms-title {
    text-wrap: balance;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1 !important;
}
.cms-rich-text {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    line-height: 1.5rem;
}
.cms-link {
    align-items: center;
    display: inline-flex;
    gap: .625rem;
    transition-duration: .3s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0, 0, .4, 1);
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
}
.cms-link span {
    color: rgb(13 13 56);
    line-height: 1;
    position: relative;
}
.cms-link .icon {
    color: #4571ff;
    height: .75rem;
    width: .75rem;
}

@media (min-width: 768px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container-small {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .cms-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 81.25rem;
        padding-left: 0;
        padding-right: 0;
        width: 91.666667%;
    }
    .container-small {
        margin-left: auto;
        margin-right: auto;
        max-width: 67.5rem;
        padding-left: 0;
        padding-right: 0;
        width: 83.333333%;
    }
    .cms-link span {
        padding-bottom: .25rem;
        padding-top: .25rem;
    }
}
