.highlights {
  padding: 64px;

  &-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1075px;
    margin: 0 auto;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      font-size: 32px;
      line-height: 43px;
      font-weight: 400;
      text-align: center;
      margin: 0;
    }

    &-description {
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      margin: 0;
    }
  }
}
